{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 300px; padding: 15px;">
    <h4>Huella del Empleado</h4>

    {% if empleado.Huella_id %}
        <img src="{{ empleado.Huella_id }}" 
             alt="Huella digital"
             style="width: 100%; border: 1px solid #ddd; border-radius: 5px;">
    {% else %}
        <p>No hay huella registrada.</p>
    {% endif %}
</div>
</body>
</html>